h1 {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 7vh;
  position: relative;
  text-align: center;
  top: 1vh;
}

p {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 4vh;
  position: relative;
  text-align: center;
  top: 1vh;
}

body {
  background-color: black;
}

.btn {
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 10vh;
  font-family: Impact, Charcoal, sans-serif;
  height: 20vh;
  width: 35vw;
}

.bind {
  background: black;
  position: fixed;
  top: 35vh;
  left: 10vw;
  transition-duration: 1s;
}

.split {
  background: black;
  position: fixed;
  top: 35vh;
  right: 10vw;
  transition-duration: 1s;
}

.haven {
  background: black;
  position: fixed;
  bottom: 15vh;
  left: 10vw;
  transition-duration: 1s;
}

.ascent {
  background: black;
  position: fixed;
  bottom: 15vh;
  right: 10vw;
  transition-duration: 1s;
}

.bind:hover {
  background-image: url('bind.png.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 1s;
}

.split:hover {
  background-image: url('split.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 1s;
}

.haven:hover {
  background-image: url('haven.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 1s;
}

.ascent:hover {
  background-image: url('ascent.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 1s;
}

#background {
  height: 100vh;
  width: 100vw;
  background-image: url("viper-background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
  -o-animation: fadein 4s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}