h1 {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 7vh;
    position: relative;
    top: 1vh;
    text-align: center;
  }
  
  body {
    background-color: black;
  }
  
  img {
    position: fixed;
    top: 20vh;
    left: 10vw;
    /*border: 1px solid white;*/
    width: 40vw;
    height: 70vh;
    /*object-fit: contain;*/
    transition-duration: 1s;
  }
  
  .marker {
    width:3vw;
    height:5vh;
    position: fixed;
  }
  
  #btn-group {
    /*border: 1px solid white;*/
    position: fixed;
    top: 20vh;
    right: 10vw;
    height: 77vh;
    width: 30vw;
    text-align: center;
  }
  
  .btn {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 10vh;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 30vw;
    transition-duration: 0.5s;
    margin: auto;
  }
  
  .btn:hover {
    background-position: center top;
    transition-duration: 0.5s;
  }
  
  .brimstone {
    background-image: url("brimstone1.jpg");
  }
  
  .cypher {
    background-image: url("cypher1.jpg");
  }
  
  .killjoy {
    background-image: url("killjoy1.jpg");
  }
  
  .omen {
    background-image: url("omen1.png");
  }
  
  .raze {
    background-image: url("raze1.jpg");
  }
  
  .sova {
    background-image: url("sova1.png");
  }
  
  .viper {
    background-image: url("viper1.png");
  }
  
  #background {
    height: 100vh;
    width: 100vw;
    background-image: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    animation: fadein 4s;
    -moz-animation: fadein 4s;
    /* Firefox */
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -o-animation: fadein 4s;
    /* Opera */
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadein {
  
    /* Firefox */
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadein {
  
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadein {
  
    /* Opera */
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: red;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: red;
    color: white;
  }